* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Clash Display', sans-serif;
}
.blockDesc{
    display: none;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h21{
    color: #2A254B;

}
.wiew{ display: flex; border: 1px solid #F9F9F9; background-color:#F9F9F9;margin-top: 100px;margin-bottom: 50px; padding: 16px 32px;}
.wiew2{color:white; justify-content: center; align-items: center; background-color: #F9F9F926; padding: 16px 32px; margin-top: 120px;}
.mobilsekil {
    display: none;
}

.forMobileHeader {
    display: none;
}

.icon {
    display: none;
}

.header1 {
    display: flex;
    width: 90%;
    height: 66px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.305);
}

.header2 {
    height: 8vh;
    display: flex;
    align-items: center;

}

.navbr {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbr li {
    display: flex;
    margin-right: 30px;
    font-size: 16px;

}

.navbr li a {
    color: #726E8D;
}

.logo {
    font: 400;
    font-size: 24px;
}

.relative {
    background-image: url("../img/fa9b27255272d76e665cce4314b4aedb.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 704px;
}
.mp{
    display: none;
}
.absolute {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 0px 0px 30px;
    height: 355px;
    width: 524px;
    top: 120px;
    left: 800px;
    background-color: rgb(255, 255, 255);
}

.drifferences {
    margin-top: 30px;
    height: 396px;
    width: 100%;
}

.drifferencesTitle {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin: 40px 0px 40px 0px;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    height: 200px;
    width: 270px;
    padding: 35px;
    background-color: #F9F9F9;
}
.sekl8{
    height: 355px; 
    width: 500px;
}
.boxes {
    display: flex;
    justify-content: center;
}

.sekl1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sekler {
    display: flex;
    justify-content: center;
}

.buton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 250px;
    margin: 20px 0px 20px 40%;
    background-color: #F9F9F9;

}

.section4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.absolute2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 60px 0px 0px 30px;
    height: 355px;
    width: 500px;
    color: #FFFFFF;
    background-color: #2A254B;
}

.imgForSection4 img{
    margin-top: 5px;
    margin-left: 10px;
}

.section5 {
    background-image: url("../img/9.jpeg");
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    height: 444px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.clas {
    display: flex;
    flex-direction: row;
}

.hedr1 {
    display: flex;
    padding: 30px;
    background-color: #2A254B;
    color: white;
    width: 80%;
    height: 300px;
    border-bottom: 1px solid black;
}

.bolme1 {
    margin-right: 150px;
    line-height: 19.68px;
}

.bolme2 {
    margin-right: 180px;
    line-height: 19.68px;
}

.bolme3 {
    line-height: 19.68px;
}

.input2 {
    display: flex;
    padding: 24px;
    margin-top: 5px;
    height: 50px;
    width: 500px;
    background-color: #FFFFFF26;
    border: none;
}

.forMobile2 {
    display: none;
}

.forum {
    margin-left: 100px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;

}

.displayver {
    background-color: #2A254B;
}

@media screen and (max-width:391px) {
    .header1 {
        display: none;
    }

    .mobilsekil {
        display: block;
        width: 100%;
        height: 304px;
    }

    .header2 {
        display: none;
    }

    .forMobileHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 10px 0px 10px;
    }
    
    .logo {
        font-size: 24px;
        font-weight: 400;
    }

    .icon1 i {
        font-size: 25px;
    }
 .formobile2{
    margin-top: 20px;
 }
 .blockDesc{
    display: block;
    padding: 20px;
 }
 
  .wiew{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
    .relative {
        display: none;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .small{
        font-size: 32px;
    }
    .cp{
        display: none;
    }
    .mp{
        display: flex;
        font-size: 14px;
        margin-top: 10px;
        flex-wrap: wrap;
        padding-right:40px ;
    }
    .boxes .box1{
        margin: 10px 0px;
    }
    .section4{
        flex-direction: column;
    }
    .absolute2{
        width: 342px;
        height: 281px;
        padding-top: 30px;
    }
    .wiew2{
        margin-top: 80px;
        padding: 20px 90px;
    }
    .sekler{
        flex-direction: column;
        align-items: center;
        margin-top: 550px;
    }
    .sekler .sekl1{
        margin: 10px 0px;

    }
    .buton{
        margin-left: 70px;
    }
    .small{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .sekl8{
        height: 259px; 
        width:  342px;
        margin-right: 9px;
    }
    .clas{
        display: block;
    }
    .section5 {
        display: flex;
        color: white;
        background-image: url("../img/9.jpeg");
        margin-top: 50px;
        padding: 20px;
        height: 373px;
        width: 100%;
    }
}